@media only screen and (min-width: 768px) {
   .navbar-mid{
       height: 80px;
       border: 2px black;
       background: rgba(0, 0, 0, 0.80);
   }

    .navbar-top{
        background: rgba(255, 255, 255, 0.80);
        border-bottom: black;
        height: 80px;
    }

    #navbar-brand-img{
        min-height: 100px;
        margin-top: 0px;
    }

    #navbar-brand-text{
        font-size: 2em;
        font-weight: 100;
        color: black;
        margin-top: 15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .navbar-link{
        text-decoration-color: black;
        font-size: 1.2em;
        margin-top: 15px;
        font-weight: bold;
        transition: font-size 500ms;
    }


    .navbar-link:hover{
        text-decoration-color: black;
        font-size: 1.5em;
        margin-top: 15px;
        font-weight: bold;
        transition: font-size  200ms;
    }

    .carousel-inner > .item > img {
        margin: 0 auto;
        height: 400px;
    }


    #myCarousel{
        margin-top:100px;
        max-height: 400px;
    }

    #contact-us{
        border-left: solid 2px white;
    }

    .footer-contact-img{
        margin-bottom: 10px;
    }

}



@media only screen and (max-width: 767px){
    #myCarousel{
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .carousel-inner > .item > img {
        margin: 0 auto;
        border: 5px;
    }

    #content-package{
        margin-top: -50px;
    }

    .navbar-mid{
        background: rgba(0, 0, 0, 0.80);
        border: 2px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: black;
        border: 1px black;
    }

    .footer-contact-img{
        margin-bottom: 10px;
    }


}

@media only screen and (min-width: 1024px) {
    .carousel-inner > .item > img {
        border: 10px solid rgba(0, 0, 0, 0.7);
    }
}




body{
    background: url("../images/deep-sea-wallpaper-hd-44.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


.budget-circle{
    border-radius: 10px;
    margin-bottom: 20px;
    color: #dbdbdb;
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.5em;
    display: table;
    width: 100%;
}


.budget-circle-div{
    vertical-align: middle;
    display: table-cell;
    height: 300px;
}

.budget-circle p {
    font-weight: bold;
}

.budget-circle-h{
    font-weight: bolder;
}

.glyphicon-star{
    color: #fbff2f;
    font-size: 1.2em;
}

footer{
    background: rgba(0, 0, 0, 0.7);
    color: white;
}


.carousel-control.left, .carousel-control.right {
    background-image: none
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
    color: rgb(204, 204, 204);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(255, 255, 255);
}

#navbar-brand-text{
    color: #00e600;
}

.note-alert{
    color: #e80000;
}


