#accordion .title{
    background: #8c8c8c;
}

#accordion table tr th{
    font-size: 1.3em;
}

table{
    background: rgba(180, 180, 180, 0.5);
}

#package-main-details{
    background: rgba(224, 224, 224, 0.50);
    vertical-align: middle;
    display: table-cell;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: rgba(97, 97, 97, 0.1);
}
