#content{
    margin-top: 100px;
    min-height: 600px;
}


.jumbotron{
    background: rgba(255, 255, 255, 0.40);
    padding-top: 10px;
    padding-bottom: 0px;
}

.jumbotron div{
    margin-bottom: 50px;
}

.jumbotron h2, .jumbotron h2{
    font-weight: bold;
}

.jumbotron img{
    max-height: 200px;
    width: auto;
    margin-bottom: 10px;
}

#day-changer{
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

#day-changer h3{
    margin-top: 0px;
    font-size: 1.5em;
}

.img-stay{
    text-align: center;
}

.img-stay img{
    margin: auto;
    /*width: 50px;*/
}

.day-content-title{
    background: white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.day-content-title h1{
    font-weight: bold;
}

#day_content .jumbotron p{
    margin-top: 20px;
}

#end-p{
    color: rgba(255, 255, 255, 0);
}

/*.navbar-default .navbar-nav .open .dropdown-menu {*/
    /*background-color: rgba(0, 0, 0, 0.8);*/
    /*color:white;*/
/*}*/

/*.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {*/
    /*color: #e5e5e5;*/
    /*font-weight: bold;*/
/*}*/

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
    cursor: pointer;
}

/*.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {*/
    /*background-color:red;*/
    /*cursor: pointer;*/
/*}*/