<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Golan Tours - Bronze Package</title>

    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/packages.css">

    <script type="text/javascript" src="../static/angular/angular.min.js"></script>
    <script type="text/javascript" src="../static/jquery/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="../static/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../static/js/package.js"></script>

    <script>
        $(function() {
            $( "#accordion" ).accordion();
        });
    </script>

</head>
<body ng-app="packages" package="bronze">

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1000944106647575";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="../static/js/index.js"></script>

<!--Navigation Bar-->
<nav class="navbar navbar-default navbar-fixed-top navbar-mid">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a></a>
            <a class="navbar-brand nav-top-click" href="#" style="margin-left: -10px;">
                <img id="navbar-brand-img" style="max-height: 60px; margin-top: -20px;" src="../static/images/logo_white.png" class="img-responsive">
            </a>
            <a class="navbar-brand nav-top-click" href="#" >
                <p id="navbar-brand-text" style="font-weight: 900; margin-left: -15px; font-size: 1.2em;" >GOLAN TOURS</p>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-right: 15px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-link" href="../index.html" id="nav-about">Home</a></li>

                <li class="dropdown">
                    <a class="navbar-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Packages<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="platinum.html">platinum</a></li>
                        <li><a href="gold.html">Gold</a></li>
                        <li><a href="silver.html">Silver</a></li>
                        <li><a href="bronze.html">Bronze</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="nature+surfing.html">Nature+Surfing</a></li>
                        <li><a href="tours/disabled/disabled.html">Disabled Special</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a class="navbar-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Tours<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="tours/golan/golan.html">Golan Gadol<br>9 nights 10 days</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="tours/yoffi/yoffi.html">Yoffi<br>6 nigths 7 days</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="tours/kathan/kathan.html">Kathan<br>3 nights 4 days</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="tours/maher/maher.html">Maher<br>2 nights 3 days</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="tours/surfing/surfing.html">Surfing+Nature<br>3 nights 4 days</a></li>
                    </ul>
                </li>

                <li><a class="navbar-link" href="#" id="nav-contacts">Contact Us</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--Nav bar End-->


<!--Content-->
<div id="content" ng-controller="populate_data">

    <div class="container" style="margin-top: 100px;">
        <div id="package-main-details" class="col-xs-12 jumbotron">
            <div class="col-md-8 col-xs-12">
                <h1 style="font-weight: bold">BRONZE PACKAGE</h1>
                <h2 style="font-weight: bold;">Starting from $20</h2>
                <h2>You will be staying in Guest House or Home within the tour time and breakfast will be served in the morning</h2>
                <h3 class="note-alert">Note : These tours and packages have been offered to make your life easy.
                But you always can talk to us and change them as you prefer.</h3>
            </div>

            <div class="col-md-4 col-xs-12">
                <img class="img-responsive" src="../static/images/surfing.jpg">
            </div>

        </div>

        <img id="loading-gif" src="../static/images/loadbar.gif">

        <!-- Start Accordian-->
        <div id="accordion" ng-repeat="package in packages" class="col-md-6 col-xs-12">

                <div class="col-md-12 col-xs-12" >
                    <div class="package-title">
                        <h3><b>{{package.name}}<br> ({{package.title}}) </b></h3>
                        <a href="tours/{{package.name_id}}/{{package.name_id}}.html" class="btn btn-primary">Take a Tour</a>
                    </div>

                    <table class="table table-hover">
                        <tr>
                            <th>Package</th>
                            <th>Price($)</th>
                        </tr>

                        <tr ng-repeat="pack in package.pax">
                            <td>{{pack.pack}}</td>
                            <td>{{pack.price}}</td>
                        </tr>
                    </table>
                </div>

        </div>
    <!-- Accordian End-->


    </div>
</div>
<!--Content End-->

<footer id="content-contacts" class="col-md-12 col-xs-12">
    <div class="container" style="margin-top: 20px;">
        <div class="col-md-3" style="text-align: center;">
            <img  src="static/images/Nishan.jpg" class="img-responsive" style="display: block; margin: auto; height: 200px;">
        </div>

        <div class="col-md-4">
            <h3 style="font-weight: bold">About Agent Nishan</h3>
            <h3>He is Hebrew/ English speaking chauffer guide.</h3>

            <div class="fb-like" data-href="https://www.facebook.com/golantours.lk" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

        </div>

        <div id="contact-us" class="col-md-5">
            <h3 style="font-weight: bolder; font-style: italic">Contact Us</h3>
            <h3 style=""><span class="glyphicon glyphicon-envelope"></span> golantours.lk@gmail.com</h3>
            <h3 style=""><span class="glyphicon glyphicon-phone"></span> +94773030939</h3>

            <div id="footer-contacts">
                <div class="">
                    <div class="col-xs-4 col-md-3"><img src="static/images/contact/whatsapp.png" class="img-responsive footer-contact-img" ></div>
                    <div class="col-xs-4 col-md-3"><img src="static/images/contact/viber2.ico" class="img-responsive footer-contact-img"></div>
                    <div class="col-xs-4 col-md-3"><img src="static/images/contact/Hangouts.png" class="img-responsive footer-contact-img"></div>
                </div>

            </div>


        </div>
    </div>
</footer>





</body>
</html>